.banner
  .layout
    .title
      管理中心
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]
.layout
  .h20
    = nbsp
  .widebox.left
    .infoboxs
      .box
        .boxtitle Admin
        .boxcontent
          您正在使用的是时尚商圈管理平台
      .clearfix.h20
      .box
        .boxtitle 在线用户
        .boxcontent
          %table
            %tr
              %td

              %td

      .box
        .boxtitle 统计
        .boxcontent
          %table.tiny
            %tr
              %td
                当前用户总数
              %td
                = link_to User.count, users_url
                人
            %tr
              %td
                文章总数
              %td
                = link_to Article.count, articles_url
                条
      .clearfix
          
  .siderbox.right
    
  .clearfix
