.banner
  .layout
    .title
      添加
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  = render :partial => "form", :locals => {:archetype => @archetype}
            
