.banner
  .layout
    .title
      编辑商家
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  = render :partial => "form", :locals => {:company => @company}
            
